%table.posts
  %thead
    %th Title
    %th Feed
    %th Original URL
    %th Bitly URL
    %th Author
    %th Published At
    %th
      Content
      %th
        Publish
  %tbody
    = render feed_entries
