<table class="posts">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th width=10%>Sent</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'post', collection: posts %>
  </tbody>
</table>
