.homepage
	%h1 Get the boost you need to auto-publish content to your online communities. 
	%h3 
		Boooost acts as an 
		.highlight Automated Relay Formatting Funnel,
		that streams content from all across the web, 
		encodes URLs for tracking and reformats posts for Facebook, Linkedin and Twitter.
	.movie
