<h2><%= link_to 'My feeds', feeds_path %></h2>

<%= paginate @feed_entries %>

<table class="alerts">
  <thead>
    <th>Title</th>
    <th>Original URL</th>
    <th>Bitly URL</th>
    <th>Author</th>
    <th>Published At</th>
    <th>Content</td>
  </thead>
  <tbody>
    <%= render @feed_entries %>
  </tbody>
</table>

<%= paginate @feed_entries %>
