linkedin_api_key: 'key'
linkedin_api_secret: 'secret'

twitter_api_key: 'key'
twitter_api_secret: 'secret'

facebook_api_key: 'key'
facebook_api_secret: 'secret'

application_url: 'http://some_url.com'
via:  'whatever'
